@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* primary */
  --dark-blue-1: hsl(217, 28%, 15%);
  --dark-blue-2: hsl(218, 28%, 13%);
  --dark-blue-3: hsl(216, 53%, 9%);
  --dark-blue-4: hsl(219, 30%, 18%);

  /* accent */
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --light-red: hsl(0, 100%, 63%);

  /* neutral */
  --white: hsl(0, 0%, 100%);
}

body {
  color: var(--white);
  background: var(--dark-blue-2);
}

.intro {
  background: var(--dark-blue-1);
}

.bg-subscribe {
  background: var(--dark-blue-1);
}

.bg-footer {
  background: var(--dark-blue-3);
}

.testimonial-card {
  background: var(--dark-blue-4);
}

.button {
  background: rgb(101, 226, 217);
  background: linear-gradient(
    103deg,
    rgba(101, 226, 217, 1) 0%,
    rgba(63, 178, 181, 1) 28%,
    rgba(51, 158, 204, 1) 81%,
    rgba(51, 158, 204, 1) 95%
  );
}